[Unit]
Description=Wire Counter Service
After=display-manager.service

[Service]
User=pi
LimitRTPRIO=99
KillMode=process
WorkingDirectory=/home/pi/cutting_station
Environment=DISPLAY=:0
ExecStart=/home/pi/cutting_station/counter.py
Restart=always

[Install]
WantedBy=multi-user.target